.banner-loja {
    position: absolute;
    top: 250%;
    left: 0px;
    width: 100%;
    height: 20%;

}
.banner-maior770 {
    width: 100%;

    align-items: center;
    justify-content: center;
}
.bannermaiorpng {
    width: 99%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  
    border-radius: 20px;  
}

.logoascoloridasvg {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);  
}

.banner-menor770 {
    width: 100%;
    align-items: center;
    justify-content: center;
}
.banner-menor1png {

    width: 49%;
    position: absolute;
    top: 190%;
    left: 0.5%;
    border-radius: 20px; 
    border: solid 1px black; 
}

.banner-menor2png {

    width: 49%;
    position: absolute;
    top: 190%;
    left: 99.5%;
    border-radius: 20px; 
    border: solid 1px black; 
    transform: translateX(-100%);
}