/* Reset e estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
    line-height: 1.6;
}

.PdF {
    width: 100%;
    height: auto;
    z-index: -20;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    filter: invert(100%) grayscale(100%);
}