footer {
    position: absolute;
    top: 350%;
    width: 100%;
    height: 5%;
    background: hsla(0, 0%, 0%, 0);
    backdrop-filter: blur(2px);
    align-items: center;
}
footer h1 {
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}