footer {
    position: fixed;
    top: 93%;
    width: 100%;
    height: 7%;
    background: hsla(0, 0%, 0%, 0);
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
}
footer p {
    color: #000;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}