:root {
    --bar-fundo: rgba(182, 182, 182, 0.164);
    --bar-fundo-collapsed: rgba(0, 0, 0, 0.164);
    --transition: all 0.3s ease;
    --botoes-barra: rgb(0, 0, 0);
    --botoes-barra-fundo: rgba(202, 202, 202, 0.562);
    --botoes-barra-fundo-hover: rgba(167, 167, 167, 0.562);
}
/*------------------------------------//-------------------------------*/
[data-theme="dark"] {
    --bar-fundo: rgba(255, 255, 255, 0.164);
    --bar-fundo-collapsed: rgba(255, 255, 255, 0.164);
    --transition: all 0.3s ease;
    --botoes-barra: rgb(255, 255, 255);
    --botoes-barra-fundo: rgba(255, 255, 255, 0.623);
    --botoes-barra-fundo-hover: rgba(194, 194, 194, 0.562);
}
/*------------------------------------//-------------------------------*/
.rodape {
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--bar-fundo);
    backdrop-filter: blur(2px);
    z-index: 10000;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
}

.rodape-bar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}